@font-face {
    font-family: "MyFont";
    src: url("Pixellari.ttf");
}

:root {
    --font-small: 14px;
    --font-regular: 16px;
    --font-large: 22px;

    --icon-small: 30px;
    --icon-medium: 50px;
    --icon-large: 120px;

    --forecast-width: 70px;
}

* {
    font-family: "MyFont", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 500;
}

body {
    background: url('images/bg.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(7px);
}

.main-container {
    width: 300px;
    height: 630px;
    z-index: 1;
    background: linear-gradient(
        to top, rgb(0, 0, 0, 0.15),
        rgb(255, 255, 255, 0.15)
    );
    border: 3px solid #ffffff;
    backdrop-filter: blur(30px);
    padding: 20px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.refresh-btn, .saved-cities-btn {
    width: 48%;
    padding: 5px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s border, 0.25s background;
}

.refresh-btn:hover, .saved-cities-btn:hover {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.refresh-btn img, .saved-cities-btn img {
    width: var(--icon-small);
    height: var(--icon-small);
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.city-input {
    width: 100%;
    padding: 10px 16px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    font-size: var(--font-regular);
    transition: 0.25s border;
    padding-right: 45px;
}

.city-input:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.regular-txt {
    font-weight: 1030;
    font-size: var(--font-regular);
}

.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img {
    width: var(--icon-large);
    height: var(--icon-large);
}

.weather-summary-info {
    text-align: end;
}

.weather-conditions-container {
    display: flex;
    justify-content: space-between;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
}

.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
    white-space: nowrap;
}

.forecast-items-container::-webkit-scrollbar {
    height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-item {
    min-width: var(--forecast-width);
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
    font-size: 20px;
}

.forecast-item:hover {
    background: rgb(255, 255, 255, 0.15);
}

.forecast-item-img {
    width: var(--icon-medium);
    height: var(--icon-medium);
}

.add-city-btn {
    width: 100%;
    padding: 10px 0;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: var(--font-regular);
    font-weight: 500;
    transition: 0.25s border, 0.25s background;
}

.add-city-btn:hover {
    border: 3px solid rgb(0, 0, 0, 0.15);
    background: rgb(0, 0, 0, 0.25);
}

.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;
}

.section-message img {
    height: 180px;
    width: fit-content;
}

.suggestions-list {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    border: 2px solid rgba(255, 255, 255, 0.2);
    list-style: none;
    max-height: 160px;
    overflow-y: auto;
    z-index: 5;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.suggestions-list li:hover {
    background: rgba(255, 255, 255, 0.15);
}

.saved-cities-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.saved-cities-modal-content {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    width: 280px;
    text-align: center;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.saved-cities-modal-content h3 {
    margin-bottom: 15px;
    font-size: var(--font-large);
}

.saved-cities-list-modal {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

.saved-cities-list-modal li {
    padding: 10px;
    margin-bottom: 6px;
    background: rgb(255,255,255,0.1);
    cursor: pointer;
    transition: background 0.2s;
}

.saved-cities-list-modal li:hover {
    background: rgb(255,255,255,0.2);
}

.close-modal-btn {
    padding: 8px 0;
    width: 100%;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: var(--font-regular);
    font-weight: 500;
    border-radius: 6px;
}

.close-modal-btn:hover {
    border: 3px solid rgb(0, 0, 0, 0.15);
    background: rgb(0,0,0,0.25);
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: var(--font-large);
    font-weight: bold;
    z-index: 50;
    backdrop-filter: blur(100px);
}

@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        --font-small: 16px;
        --font-regular: 20px;
        --font-large: 28px;

        --icon-small: 40px;
        --icon-medium: 70px;
        --icon-large: 150px;

        --forecast-width: 90px;
    }

    .main-container {
        width: 500px;
        height: 720px;
        padding: 30px;
    }
}

@media (min-width: 1025px) {
    :root {
        --font-small: 18px;
        --font-regular: 24px;
        --font-large: 36px;

        --icon-small: 30px;
        --icon-medium: 70px;
        --icon-large: 180px;

        --forecast-width: 110px;
    }

    .main-container {
        width: 600px;
        height: 800px;
        padding: 40px;
    }
}
